Located in {{rental.city}}, this {{rental.bedrooms}} bedroom {{rental.type}} is
available by arrangement through {{rental.owner}}. <br>

<p><img src={{rental.image}} alt={{rental.type}}></p>

<h2>Reviews</h2>
<ul>
  {{#each sortedReviews as |review|}}
    {{review-tile review=review destroyReview="destroyReview"}}
  {{/each}}
</ul>

<div>
  <h3>Map of {{rental.owner}}'s {{rental.type}}</h3>
  {{google-map rental=rental}}
</div>

<button {{action 'delete' rental}}>Delete</button>
