<h1>Welcome to Super Rentals</h1>

We hope you find exactly what you're looking for in a place to stay. <br>

<h2>Available Rentals</h2>
<ul>
  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

{{new-rental saveRental2="saveRental3"}}

<h2>All Reviews</h2>

<ul>
  {{#each model.reviews as |review|}}
    <li>{{review.rating}} - {{review.content}} - by {{review.author}}</li>
  {{/each}}
</ul>


<hr>

{{#link-to 'about'}}About{{/link-to}} <br>
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
